<div class="modal fade" id="deleteProfileConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteProfileConfirm">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Profiel verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>
                    Weet u zeker dat u dit profiel wilt verwijderen?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleer</button>
                <button type="submit" class="btn btn-primary">Verwijder</button>
            </div>
        </div>
    </div>
</div>