    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="{{#if active.profiles}}active{{/if}}"><a href="/profile">Profielen</a></li>
        <li role="presentation" class="{{#if active.cameras}}active{{/if}}"><a href="/cameras">Camera's</a></li>
        <li role="presentation" class="{{#if active.settings}}active{{/if}}"><a href="/settings">Account instellingen</a></li>
        <li role="presentation"><a href="#">Help</a></li>
    </ul>
