{{> header}}
{{#if userFullName }}
    <div class="container-fluid">

        <div class="col-md-2 col-lg-2">
            {{> navigation}}
        </div>
        <div class="col-md-10 col-lg-10">
            <h2>Welkom {{userFullName}}</h2>
            <a href="/signout">Log uit</a>
        </div>
    </div>
{{else}}
    <!-- Page Content -->
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Welkom bij WatchDad IRP</h1>
        </div>
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #1</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
               <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 1</h4>
                Beste lezer,
                <p>Welkom bij onze eerste blog post. Wij zijn team twee van IRP PAD en wij gaan de komende tijd elke week iets posten op onze blog! Wij bestaan uit een groep van zes mensen met de volgende namen: Jasper, Jack, Thomas, Houjin, Ara en Michael. Deze week hebben wij dus kennis met elkaar gemaakt en daarnaast hebben wij ook colleges gevolgd over scrum.
</p>
                <p>Deze week hebben wij gewerkt aan het teamleerdoel en de overige aspecten van het samenwerkingsdocument. Deze moet volgende week ingeleverd worden en alle benodigde aspecten bezitten. Het doel van een samenwerkingsdocument is om bepaalde afspraken met elkaar te maken en deze goed in kaart te brengen. Hierdoor zullen er weinig onduidelijkheden zijn en dit scheelt een hoop stress op den duur.
</p>
                <hr>


            </div>

        </div>
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #2</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
               <h4> Week 2</h4>
                Hallo lezer,
                <p>Wij zijn vandaag  bezig geweest met de SWOT analyse, daarna gaan wij dit verwerken in het samenwerkingsdocument.</p>

                <p>Voor de rest zal ik hier de punten opsommen waar we verder aan gewerkt hebben.</p>
                <li>
                Google Drive
                    </li>
                Voor het delen en het bewerken/maken van bestanden maken wij gebruik van Google Drive, hier hebben iedereen nu aan toegevoegd.
                <li>Trello</li>
                School heeft ons geadviseerd om het programma Trello te gebruiken voor de takenverdeling. Dit programma wordt veel gebruikt door programmeurs in een teamverband.
                <li>GitHub</li>
                Wij willen in de toekomst onze codes gaan delen op GitHub, ook dit programma is aangeraden door school.
                <li>Skype</li>
                Voor onze verbale communicatie buiten schooltijden gebruiken wij Skype. Met dit programma kan je gratis met elkaar praten en daarnaast ook bestanden en schermdelen.
                <li>WhatsApp</li>
                <p>Hier hoeven we niet veel woorden aan vuil te maken aangezien wij allemaal al gebruik maakten van WhatsApp. We hebben elkaar enkel toegevoegd in een gezamenlijke groepsapp.
</p>
                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #3</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 3</h4>

                Beste lezer,

                <p>Deze week zijn wij weer allemaal samen gekomen aan verder aan het project te werken. Het valt ons op dat er veel onduidelijkheid in de groep en de klas heerst. Veel van onze vragen worden niet beantwoord door de studiehandleiding en de leraren beantwoord veel vragen met “daar kom ik later op terug”. Hier kunnen wij helaas niet veel mee, toch proberen wij niet stil te zitten en zijn we nu actief bezig met de doelgroep analyse.</p>

                <p>Wij hebben het samenwerkingscontract volledig afgerond! Zoals hierboven te lezen gaan wij nu verder met de doelgroep analyse.</p>
                <p>Hier onder de link van het samenwerkingscontract:</p>

               <p><a href="https://docs.google.com/document/d/1n7S3N6xgPcj4FG2IcmehsDJOKkWdm1diE5Vf2-wCoj0/edit?usp=sharing"> Samenwerkingscontract </a></p>


                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #4</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 4</h4>

                Beste lezer,
                <p>Deze week zijn de PAD lessen vervallen, hierdoor hebben wij niet veel progressie gemaakt in het PAD project. Toch hebben wij de doelgroep analyse afgemaakt en geupload op Google Drive.</p>

                <p>Binnen het team is het een beetje onrustig, dit komt omdat meerdere mensen zich niet houden aan afspraken die ze gemaakt hebben. Dit zorgt voor ergernissen van andere teamleden. Wij proberen dit met elkaar te bespreken zodat we hier een oplossing voor kunnen vinden.</p>

                <p><a href="https://docs.google.com/document/d/1f_2FPO7l9nvYiIOF74QoPei-SfUxhO2Qqsom2LfAwak/edit?usp=sharing">DOELGROEP</a></p>

               <p><a href="https://docs.google.com/document/d/1n7S3N6xgPcj4FG2IcmehsDJOKkWdm1diE5Vf2-wCoj0/edit?usp=sharing"> SAMENWERKINGSCONTRACT</a></p>



                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #5</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 5</h4>

                Beste lezer,
                <p>Vandaag hebben wij de backlog afgemaakt, deze heeft mevrouw Ingrid Elsing meegenomen en hier moeten wij nog uitleg over geven. Daarnaast was Jasper ziek maandag, dus hij heeft een les gemist. Echter heeft hij wel de mappen structuur verbeterd in onze Google Drive map.</p>

                <p>Het team moraal is op dit moment hetzelfde als vorige week. Mensen blijven nog steeds bepaalde afspraken niet nakomen. Dit zorgt voor ergernis en stress binnen de groep. Dit heeft er ook voor gezorgd voor een kleine aanvaring tussen Jasper en Houjin woensdag. Dit hebben zij later met elkaar besproken en bijgelegd en gaan nu weer op goede voet verder.</p>



                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #6</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 6</h4>

                Beste lezer,
                <p>Het is alweer week 6 en wij hebben deze week veel gedaan als voorbereiding op het programmeren.</p>
                <p><b>Workshop UML</b></p>
                <p>Deze week was het hoofd onderwerp UML, wij hebben namelijk een extra les gekregen in UML. Echter was deze les vrij onduidelijk en erg gehaast. Hierdoor hebben wij zelf veel onderzoek moeten doen op het internet en de kennis van onze teamgenoten veel moeten gebruiken. Toch hebben wij de website die wij willen maken goed in kaart kunnen brengen door middel van UML. Nu is het wachten op de UML audit.</p>
                <p><b>Feedback op idee</b></p>
                <p>Het team heeft deze week ook feedback gekregen op het huidig idee. Om het idee dat wij hebben goed over te brengen hebben wij het volgende filmpje gemaakt voor de opdrachtgever. Het filmje is hier terug te vinden:</p>
                <p><a href="https://youtu.be/6JCelNLVrH8">Filmpje</a></p>
                <p>De feedback over het idee ging over dat we meer in een website moeten denken en niet een app. Dit gaan wij ook zeker mee nemen en aan werken.</p>

                <p><b>Startup Retrospective (met coach)</b></p>
                <p>Over dit onderwerp hebben wij niet veel te melden. Wij hebben namelijk een normaal gesprek gehad met Ingrid over het verloop van de team activiteiten en inzet. Ingrid heeft wel een aantal afspraken gemaakt met Ara hier over.</p>

<hr>
            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #7</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 7</h4>

                Beste lezer,
                <p>Week 6 ging snel voorbij en naast de activiteiten die iedereen had naast PAD gingen we snel door het UML stof heen. Echter zijn wij er toch achter gekomen dat UML niet volledig aan alle eisen voldeed. Daarom zijn wij opnieuw begonnen aan UML en hebben wij alles weer op zijn kop gegooid. Dit zorgt voor veel problemen aangezien wij niet echt precies weten wat er nou anders moet. Gelukkig heeft Jack meer ervaring met UML en probeert ons hierin te begeleiden.</p>

                <p><b>Sprint Planning Meeting</b></p>
                <p>Okay let’s go! De sprint is dan nu officieel begonnen en wij zijn enthousiast! Wij hopen dat wij nu meer vrijheid in het project krijgen en daarnaast meer aan de slag kunnen. Voor dat wij aan de slag kunnen moeten wij nog eerst een bespreking houden met mevrouw Ingrid Elsing over de planning komende sprint.</p>
                <p><b>Teammoraal</b></p>
                <p>Het lijkt alsof het teammoraal op dit moment vooruitgang boekt, meer mensen tonen motivatie voor het project. Daarnaast probeert iedereen zijn beste steentje bij te brengen! Dit is een gerust stelling voor de hele groep.</p>


                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #8</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 8</h4>

                Beste lezer,
                <p>Het is alweer week 8 en de tijd gaat snel! Deze week gaan wij echt beginnen met programmeren!
</p>
                <p><b>Programmeren</b></p>
                <p>Wij zijn begonnen met programmeren en Houjin heeft de eerste template voor de website al gemaakt. Hij heeft dit gedaan met behulp van HTML en CSS, dit is nog maar het begin en wij willen dit natuurlijk verder uitwerken! Echter heeft Jasper nog geen ervaring met HTML en CSS dus hij moet dit zelf nog even door nemen. Voor de rest heeft iedereen ervaring met het programmeren via HTML en CSS
</p>
                <p><b>Coaching</b></p>
                <p>De coaching samen met Ingrid was verfrissend, wij als team hebben wat afspraken gemaakt en bepaalde aspecten met haar besproken. Vooral de aspecten over team afspraken en het verloop van het project. Echter was Michael niet aanwezig IVB ziekzijn.
</p>
                <p><b>Audit UML</b></p>
                <p>De audit van UML ging niet helaas niet heel goed. Dit komt vooral omdat wij ons vergist hadden in het werk en bepaalde aspecten totaal zijn vergeten. Echter hebben wij duidelijke en goede feedback gekregen over onze huidige UML product. Daarnaast hebben wij de UML beoordeling formulier gekregen van Bert, hieruit gaan wij ons voorbereiden op de volgende UML audit.
</p>
                <p><b>Goede vrijdag</b></p>
                <p>In deze week viel goede vrijdag, hierdoor hadden wij een kortere week. Echter heeft dit niet veel invloed op het project aangezien wij alleen op maandag en woensdag les hebben. Toch heeft Jasper gebruik gemaakt van deze vrije dag door HTML en CSS meer door te nemen.
</p>
                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #9</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 9</h4>

                Beste lezer,

                <p>Daar zijn we weer! Na goede vrijdag hebben wij alle weer wat extra energy om ons te focussen op het project. Echter hebben veel van onze team genoten zich gefocced op de aankomende tentamen week. In deze tentamen week moeten wij ook twee PAD tentamens maken.
</p>
                <p><b>Sprint Review Meeting</b></p>
                <p>Deze week hadden wij een sprint review meeting met de opdrachtgever, dit ging goed! Wij hebben veel feedback gehad over het product. Echter had hij wel wat aanmerkingen over de website zelf. Dit kwam vooral omdat het niet zoveel was als andere groepen. Zelf denken wij dat dit komt omdat wij veel onduidelijkheden hadden binnen de groep. Hierdoor hebben wij niet veel werk kunnen doen. Wij gaan ons best doen om dit voor de volgende sprint mee te nemen.
</p>
                <p><b>Sprint Retrospective (met coach)</b></p>
                <p>Ook deze week hebben wij weer een meeting gehad met onze coach Ingrid. Hierin hebben wij niet echt extra informatie bij haar neergelegd. Dit omdat er niet veel veranderd is deze week.
                </p>
                    <p><b>Teammoraal</b></p>
                <p>Het teammoraal van de groep is laag, Houjin en Michael reageren op dit moment weinig en het lijkt alsof hun motivatie voor het project weg is. Zij zijn ook van plan om te gaan stoppen met de opleiding. Dit zal een grote setback voor ons zijn aangezien zij echt het hart van het programmeur team zijn. Jack, Thomas, Jasper en en Ara doen nog steeds hun best voor het project en proberen het beste er van te maken.
</p>
                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #10</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 10</h4>

                <p>Beste lezer de tentamen week is begonnen!</p>

                <p>Hierdoor hebben wij ons niet echt gefocust op het project, maar eerder op het leren van de tentamen vakken PAD en UML. Helaas heeft dit niet echt zijn vruchten afgeworpen want alleen Jack, Thomas en Jasper hebben de vakken met een voldoende behaalt. Tenminste als onze normering klopt over het eindcijfer die gegeven is. Wij kregen namelijk niet een duidelijk cijfer te zien aan het eind van het tentamen. Echter hebben wij wel vernomen van studenten van vorig jaar wat ongeveer een indicatie is.
</p>



                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #11</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 1 – 11 t/m 15 APR
                </h4>

                <p>Beste lezer, welkom bij een nieuwe weekblog van team IRP twee!
               </p>
                <p>De website staat online en we zijn druk bezig met het updaten van de website. Echter zijn Micheal en Houjin gestopt met de opleiding. Hierdoor hebben we een aardige set back mee gemaakt. Maar we proberen het beste er van te maken!
                </p>
                    <p><b>Dropouts</b></p>

                <p>Met grote spijt moeten wij melden dat Michael en Houjin zijn gestopt met de opleiding die zij volgde. Dit heeft extreme gevolgen voor het project, dit komt omdat zij toch het meest ervaring hadden met programmeren van ons. Hierdoor hebben wij niet echt een programmeer basis meer. Dit betekent dat wij nog meer moeten gaan leren over programmeren naast onze normale vakken.
</p>

                <p><b>Sprint Planning Meeting</b></p>
                <p>Wij hebben niet veel contact gehad met de product owner deze week. Toch hebben wij Trello een beetje met Joop door gelopen en wat vragen gesteld over hoe wij het beste verder kunnen gaan. Hopelijk is hij er de volgende keer langer.
</p>

                <p><b>Coaching</b></p>
                <p>Omdat Michael en Houjin gestopt zijn met de opleiding hadden wij erg behoefte aan een coaching gesprek met Ingrid. In dit gesprek hebben wij besproken hoe wij het precies gaan aanpakken de komende tijd. Echter kon zij ons niet veel alternatieven brengen, het kwam er echt op neer dat wij het zelf op moesten vangen. Toch zei ze wel dat er rekening mee wordt gehouden in de eind beoordeling. Dit is fijn om te horen maar toch willen wij gewoon graag een goed product op opleveren. En dat zal nu lastiger worden.
</p>

                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #12</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 2 – 18 t/m 22 APR
                </h4>

                Beste lezer!
                <p>Deze week hebben wij ons vooral gefocust op de UML audit en het verder programmeren van de website.
</p>
                <p><b>Programmeren</b></p>
                <p>Het programmeren van de website gaat langzaam maar er is zeker progressie! Jasper heeft zich meer verdiept in HTML en heeft geprobeerd om een website te maken waar de backend op geprogrammeerd kan worden. Voor alle duidelijkheid heeft Jasper een filmpje gemaakt van zijn website. Zie hier het filmpje:
                    <p><a href="https://youtu.be/lIvphjN-TCY">Filmpje</a></p>
</p>
                <p><b>Teammoraal</b></p>
                <p>Het teammoraal is sinds vorige week wel een stuk verbetert, wij zien nu in dat het beter is om met een klein hechter team verder te gaan. Dan met een groter team die niks voor elkaar krijgt. Wij gaan er dus vol voor om het project met een voldoende af te sluiten.
                </p>
                <p><b>UML-Audit</b></p>
                <p>Deze week hadden wij eigenlijk een UML AUDIT, echter is deze audit verplaatst naar volgende week. Dit geeft ons extra tijd om de puntjes op de i te zetten voor UML.
</p>
                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #13</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 3 – 25 t/m 29 APR

                </h4>

                Beste lezer,
                <p>Nog maar een week en dan is het mei vakantie, echter moeten wij nog veel rekening houden met meetings en afspraken deze week.
                </p>
                    <p><b>Programmeren (taal kiezen)</b></p>
                <p>Naast de simple layout en basis HTML en CSS taal moeten wij nu toch meer gaan focussen op de backend. Hiervoor moeten wij een taal kiezen die goed bij ons team past. Dit is vrij lastig aangezien wij allemaal niet veel programmeer ervaring hebben. Wij hebben gekozen om PHP te gaan gebruiken voor de backend. Echter heeft Jack ons aangeraden om te gaan werken met nodejs en expressjs met een mongodb database.
</p>

                <p><b>Sprint Review Meeting</b></p>
                <p>Deze week gingen wij ook aan de product owner laten zien wat wij gemaakt hebben sprint 2. In de vorige week kon u zien wat voor website wij hier voor gemaakt hebben. Deze review ging goed! Wij hebben veel positieve feedback gekregen over de website en hier gaan wij meteen wat aan doen.
</p>

                <p><b>Sprint Retrospective (met coach) / Coaching</b></p>
                <p>Het coaching gesprek en retrospective met de coach (Ingrid) ging goed. Wij hebben veel dingen met haar besproken zoals de voortgang van het project. Daarnaast hebben wij ook een afspraak gemaakt over communicatie binnen het project. Wij ervaarde namelijk dat mensen niet genoeg communiceerde. Wij hopen op verbetering!
</p>

                <p><b>UML-Audit</b></p>
                <p>Omdat vorige week de UML audit verplaatst is naar deze week hebben wij samen met Bert alles doorgenomen. Dit pakte prima uit en zijn blij met de uitkomst! Alles is nu goed afgetekend en dit geeft ons veel rust op dit gebied. Wij willen de andere IRP teams bedanken voor de feedback op onze oude UML tekeningen
</p>
                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #14</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 4 – 9 t/m 15 MEI
                </h4>

                Beste lezer,
                <p>De tijd gaat snel, en de zomervakantie is alweer voorbij! In de zomervakantie hebben wij een nieuwe website gemaakt omdat wij toch niet tevreden waren over de oude.
                </p>
                    <p><b>Nieuwe website</b></p>
                <p>Zoals hierboven al vermeld is hebben wij een nieuwe website gelanceerd. Dit hebben wij gedaan na de feedback van vorige week. Wij zijn heel enthousiast over deze website! Het ziet er namelijk veel cleaner en professioneel uit. Wij hebben een filmpje gemaakt van de website. Hier de link:
                    <p><a href="https://youtu.be/uBHODPDASis">Filmpje</a></p>
                </p>
                    <p><b>Programmeren</b></p>
                <p>Wij hebben toch besloten om te stoppen met PHP, dit omdat wij hier te weinig kennis van hebben. Jack heeft ons daarom aangeraden om van backendtaal te veranderen. Dit hebben wij ook gedaan! Wij zijn nu dus geswitched naar een andere taal. Echter is dit voor Thomas en Jasper wel meer studie werk aangezien wij geen ervaring daar mee hebben. Wij hopen dat dit niet problemen op gaat leveren.
</p>
                <p><b>Sprint Planning Meeting</b></p>
                <p>Deze week hebben wij geen sprint planning gehad, echter hebben wij deze taak op ons zelf genomen. Wij hebben de studiehandleiding bekeken en daar een planning uit gemaakt.
</p>
                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #15</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 5 – 16 t/m 20 MEI
                </h4>

                Beste lezer,
                <p>Deze week zijn wij verder gegaan met programmeren en is er helaas weer iemand die is gestopt met het project.
</p>
                <p><b>Dropout</b></p>
                <p>Deze week is Ara gestopt met zijn opleiding, dit betekent dus ook dat hij stopt met het project. Dit is weer een aardige setback. Het wordt steeds moeilijker om de taken te verdelen onder het team. Toch geven wij de moed niet op en blijven wij doorgaan!
</p>
                <p><b>Audit UML</b></p>
                <p>Deze week hadden wij weer een audit over UML, dit vonden wij een beetje gek aangezien die net is geweest. Echter moesten wij gewoon onze veranderingen laten zien. Deze hebben wij laten zien en is allemaal goedgekeurd.
</p>
                <p><b>Coaching</b></p>
                <p>Het coaching gesprek ging vooral over het verlaten van Ara in onze groep. Wij hebben wederom advies gehad over hoe wij dit het best kunnen aanpakken. Toch zullen wij Ara erg missen in de groep omdat een groep van 3 voor een project als dit toch echt wel heel klein is.
</p>
                <p><b>Programming</b></p>
                <p>Het programmeren deze week ging verder met de backend, het is ons gelukt om een inlogscherm te maken en deze succesvol in de website te implementeren.  Ook hebben wij de lay-out iets opgepoetst! Meer updates volgende week.
</p>

                <hr>


            </div>

        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Blog post #16</h1>

                <!-- Author -->
                <p class="lead">
                    by PAD IRP Team 2
                </p>

                <hr>

                <!-- Date/Time -->
                <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on June 6, 2016 at 5:00 PM</p> -->


                <!-- Post Content -->
                <h4>Week 6 – 23 t/m 27 MEI
                </h4>

                Beste lezer,
                <p>Wij hadden deze week volgens de planning de productoplevering echter was dit niet de realiteit.
</p>
                <p><b>Beta Productoplevering</b></p>
                <p>Deze week zouden wij al het eerste beta product opmoeten leveren. Maar maandag ontvingen wij het volgende bericht van Joop :
</p>
                <p><i>Beste deelnemers aan het project IRP</i></p>
                <p><i>Onze opdrachtgever van IRP (Jo Lahaye) heeft vorige week een ongeluk gehad en is geopereerd aan zijn schouder. Hierdoor is hij deze week nog niet in staat om de productbeoordelingen te doen. In onderling overleg is besloten om de oplevering een week later te doen. Dan doen we meteen de planning voor Sprint 4. Dus:
                Woensdag 1 juni productoplevering Sprint 3 en planning en coaching Sprint 4.
                De activiteiten voor woensdag (25 mei) en maandag (30 mei) vervallen dan.
                    </i></p>
                <p><i>Jullie hebben dus een week extra om het product in de eerste oplevering (is de eerste kans) al heel goed op te leveren. De tijd voor de herkansing wordt dan wel erg kort. Daar zullen we in de beoordeling rekening mee houden. Mocht je al het werk voor Sprint 3 al af hebben, neem dan even met mij contact op. Ook voor andere vragen kun je uiteraard bij mij terecht. De planning voor de bijeenkomst volgt later.
                </i></p>
                    <p><i>Vriendelijke groet</i></p>
                <p><i>Joop Kielema</i></p>

                <p>Dit betekent dus dat wij het product een week later moeten opleveren. Dit heeft ons flink aan het stressen gezet aangezien wij graag duidelijkheid willen over het product dat wij minimaal moeten opleveren. Helaas moet dit nog een week opzich wachten.
</p>
                <p><b>Sprint Retrospective (met coach)</b></p>
                <p>Woensdag had het team een sprint retrospective met de coach, echter was Jasper daar niet aanwezig. Dit komt omdat Jasper niet op de hoogte was van de afspraak. Daarnaast was hij er van overtuigd dat we uit huis gingen werken.
</p>
                <p>In de retrospective heeft het team het gehad over afspraken maken en communicatie. Dit was erg nodig aangezien dit nog steeds een zwakpunt is binnen ons groepje.
</p>
                <hr>


            </div>

        </div>


    </div>
    <!-- /.row -->
    </div>
    <!-- /.row -->


{{/if}}
